$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import ".animations.scss";

@font-face {
    font-family: kondeoHome;
    src: url(fonts/palette_becker.ttf);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: white;
  font-weight: 300;
  background-color: #3D4658;

}

a {
    color: #38B8EC;
    text-decoration: none;
    font-weight: 400;
}
a:hover {
    text-decoration: none;
    color: #38B8EC;
}
a:visited {
    color: #38B8EC;
}

.ng-enter{
    // animation: fadeIn 1s linear;
    //   -webkit-animation: fadeIn 1s linear;
    animation: bounceIn 1s both ease-in; z-index: 8888;
}
.ng-leave {
  animation: fallOut 0.1s both ease-in; z-index: 8888;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1000px;
    z-index: -1;
    display: block;
    background-color: #525A6C;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-name: fadeBG;
    animation-duration: 4s;
    background-position: -10px 0px;
    background-size: cover;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  .navbar {
      border-bottom: 2px solid #3D4658;
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Navbar Styling */
.navbar{
    border: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 2px solid #3D4658;
}

.navbar-default .navbar-brand {
    font-weight: 500;
    color: #E44235;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 30px;
    font-family: kondeoHome;
}

.navbar-default .navbar-brand:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    color: #E44235;
}

.navbar-default .navbar-brand:visited{
    color: #E44235;
}

.navbar-default .navbar-nav > li > a {
    color:white;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.navbar-default .navbar-nav > li:hover > a {
    color:white;
    background-color: #454E60;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #3D4658;
    color:white;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: black;
}

.container-narrow > hr {
  margin: 30px 0;
}

.btn {
    box-shadow: 3px 3px 0px #3D4658;
    background-color: brown;
    border: 2px solid #3D4658;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    color: white;
    box-shadow: 7px 7px 0px #3D4658;
    background-color: inherit;
    border: 2px solid #3D4658;

  img {
    height: 80px;
    margin-bottom: 30px;
  }

  .btn {
    color: white;
    font-size: 21px;
    padding: 14px 24px;
  }

  .btn:visited {
      box-shadow: 3px 3px 0px #3D4658;
      background-color: brown;
      border: 2px solid #3D4658;
  }

  .btn:hover {
      box-shadow: 3px 3px 0px #3D4658;
      background-color: brown;
      border: 2px solid #3D4658;
  }

  .btn:active {
      box-shadow: 3px 3px 0px #3D4658;
      background-color: #942626;
      border: 2px solid #3D4658;
  }

  h1 {
      font-family: kondeoHome;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: darkred;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
