<div class="jumbotron">
  <img src="images/Kondeo-Logo-LG-Squared-600px.png">
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Make your software ideas a reality.
  </p>
  <p><a class="btn btn-lg btn-success hvr-sweep-to-right" ng-href="#/projects">See Our Work&nbsp;&nbsp;<span style="vertical-align: text-top;" class="glyphicon glyphicon-hdd"></span></a></p>
</div>

<div class="row marketing">
  Contact us at julian@kondeo.com<br /><br />


  <h4>Quick and efficient</h4>
  <p>
    Our software is built with speed and efficiency.
  </p>

  <h4>Languages and Frameworks</h4>
  <p>
    We build our applications in the best language to fit the job. We have extensive experience in AngularJS, Ionic, NodeJS, PHP and Android.
    This means your application will be fast and responsive, while remaining easy to maintain.
  </p>

  <h4>Security</h4>
  <p>Security is constantly changing, and when we build applications for you, we build in only the latest in security features.</p>
</div>
