<div class="jumbotron">
  <brand>Kondeo</brand>
  <br /><br /><br />
  <p class="lead">
    Make your software ideas a reality.
  </p>
  <br />
  <p><a class="btn btn-lg btn-success hvr-sweep-to-right" ng-href="#/contact">Contact Us&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></a></p>
</div>

<div class="row marketing">
  <h4>Quick and efficient</h4>
  <p>
    Our software is built with speed and efficiency. Every line of code we write is carefully considered beforehand.
    We have several planning stages to make sure the final product will be most effective.
  </p>

  <h4>Languages and Frameworks</h4>
  We build our applications in the best language to fit the job.<br />
  Our main focuses: <a href="https://angularjs.org/">AngularJS</a>,
  <a href="http://ionicframework.com">Ionic</a>,
  <a href="https://nodejs.org">NodeJS</a>,
  <a href="http://php.net">PHP</a>,
  <a href="https://www.apple.com/ios/">IOS</a> and
  <a href="https://www.android.com/">Android</a>.

  <p>
    This means your application will be fast and responsive, while remaining easy to maintain.
  </p>

  <h4>Security</h4>
  <p>Online security is constantly changing. Our software is designed with security of the future in mind.
    Every application we build adheres to the most current security standards, and allows for easy upgrading to new security methods.
  </p>
</div>
