<p>All of the soure code for our projects can be viewed at our <a href="http://github.com/kondeo/" target="_blank">github</a>.</p>
<p>Or, click on one of the project names below.</p>

<h3>Live Public Projects:</h3>

<p><b>EasyWebFiles</b> (<a href="products/easywebfiles" target="_blank">demo</a>) – A simple program that enables quick creation of websites dynamically based on files. Its free for now!</p>

<h3>Public Projects Under Development:</h3>
<p><b>Nudge</b> (<a href="projects/nudge/#/" target="_blank">demo</a>, <a href="http://github.com/kondeo/nudge-webapp" target="_blank">github</a>) – A social networking application, that allows you to view events in your area.</p>
<p><b>WordPairs Ebook</b> (<a href="http://www.margieholdscourt.com/ebooks/wordpairs/#/app/index" target="_blank">demo</a>, <a href="http://github.com/kondeo/mww-wordpairs" target="_blank">github</a>) – An ebook with custom security, bundled into an app.</p>
<br />
<p>These are just a few of the amazing projects we are working on. Unfortunately, we cannot post examples for projects we have made for private parties.</p>
