<h2 class="panel-header">Dashboard</h2>
<div class="panel-dash-container">
  <div class="panel-dash panel-dash-left">
    <h3 class="panel-dash-header">Invoices <a ng-click="showInvoiceOverlay()">+</a></h3>
    <div ng-if="!invoices">No invoices due, and no payment history.</div>
    <div ng-if="invoices.due"><b>- Due -</b></div>
    <div ng-if="invoices.due" ng-repeat="invoice in invoices.due">
      {{invoice.total}}
    </div>
    <div ng-if="invoices.total">Total Due: {{invoices.total}}</div>
    <div ng-if="invoices.history"><b>- Paid -</b></div>
    <div ng-if="invoices.history" ng-repeat="invoice in invoices.history">
      {{invoice.total}}
    </div>
  </div>

  <div class="panel-dash panel-dash-right">
    <h3 class="panel-dash-header">Projects</h3>
    <div ng-if="!projects">No projects active or project history.</div>
    <div ng-if="projects.active">Active</div>
    <div ng-if="projects.active" ng-repeat="project in projects.active">
      Project {{$index}}
    </div>
    <div ng-if="projects.history">History</div>
    <div ng-if="projects.history" ng-repeat="project in projects.history">
      Project {{$index}}
    </div>
  </div>
</div>

<div ng-if="overlay.invoice" class="panel-admin-overlay">
    <form class="auth-form auth-form-dark panel-admin-overlay-form">
      <a ng-click="hideInvoiceOverlay()">Close</a>
      <h2 class="auth-header">Invoice Information</h2><br />
      <input type="text" class="auth-input" ng-model="overlay.invoice.total" placeholder="Invoice Total" /><br />
      <input type="date" class="auth-input" ng-model="overlay.invoice.due" placeholder="Due On" /><br />
      User:
      <select ng-model="overlay.invoice.email">
        <option ng-repeat="user in users" ng-if="!user.admin" value="{{user.email}}">{{user.email}}</option>
      </select><br />

      <input type="checkbox" ng-model="overlay.invoice.paid"> Invoice has been paid<br />

      <button class="auth-button" ng-click="saveInvoice()"><span class="glyphicon glyphicon-menu-right"></span></button>
      <div class="auth-error" ng-if="error">{{error}}</div>
    </form>
</div>
